<!---<footer class="bg-dark text-center text-white">
	<div class="container-fluid p-3">
		<div class="row">
			<div class="col-md-3 col-12 text-start">
				<a href="/">
					<img src="/assets/images/logo.png" class="img-fluid" style="height: 50px;" />
				</a>
			</div>
			<div class="col-md-9 col-12 text-end">
				<a href="/agb">AGB</a>&nbsp;|&nbsp;
				<a href="/datenschutz">Datenschutz</a>&nbsp;|&nbsp;
				<a href="/impressum">Impressum</a>
			</div>
		</div>
	</div>
</footer>--->
<footer class="text-center text-lg-start text-muted bg-primary">
	<section class="">
		<div class="container text-center text-md-start p-3">
			<div class="row">
				<div class="col-6 text-start">
					<a href="/">
						<img src="/assets/images/logo.png" class="img-fluid" style="height: 50px;" />
					</a>
				</div>
				<div class="col-6 text-white text-end">
					<a class="text-white" href="/agb">Conditions of Use & Sale</a>&nbsp;|&nbsp;
					<a class="text-white" href="/datenschutz">Privacy Notice</a>&nbsp;|&nbsp;
					<a class="text-white" href="/impressum">Imprint</a>
					<p class="mt-1 text-white">&copy;Amazon++</p>
				</div>
			</div>
		</div>
	</section>
</footer>