<section class="py-5">
	<div class="container">
		<div class="row gx-5">
			<aside class="col-lg-6">
				<div class="border rounded-4 mb-3 d-flex justify-content-center">
					<a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
						<img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ articleListModel.image_url[0] }}" />
					</a>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="" class="item-thumb">
						<img width="60" height="60" class="rounded-2" src="{{ articleListModel.image_url[0] }}" />
					</a>
				</div>
			</aside>
			<main class="col-lg-6">
				<div class="ps-lg-3">
					<h4 class="title text-dark">{{ articleListModel.name }}</h4>
					<div class="mb-3">
						<span class="h5">{{ articleListModel.price }}€</span>
					</div>
					<p>{{ articleListModel.description }}</p>
					<div class="row">
						<dt class="col-3">Category:</dt>
						<dd class="col-9">{{ articleListModel.categorie }}</dd>
						<dt class="col-3"></dt>
					</div>
					<hr />
					<a (click)="buyItem(articleListModel.price, articleListModel.article_id)" class="btn btn-warning shadow-0">Buy now</a>
				</div>
			</main>
		</div>
	</div>
</section>
<section class="bg-light border-top py-4">
	<div class="container">
		<div class="row gx-4">
			<div class="col-lg-8 mb-4">
				<div class="border rounded-2 px-3 py-2 bg-white">
					<!-- Pills navs -->
					<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
						<li class="nav-item d-flex" role="presentation">
							<a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="" role="tab">Seller profile</a>
						</li>
					</ul>

					<div class="tab-content" id="ex1-content">
						<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="ex1-tab-1">
							<table class="table border mt-3 mb-2">
								<tr>
									<th class="py-2">First Name:</th>
									<td class="py-2">{{ sellerInformation.firstname }}</td>
								</tr>
								<tr>
									<th class="py-2">Last Name:</th>
									<td class="py-2">{{ sellerInformation.lastname }}</td>
								</tr>
								<tr>
									<th class="py-2">e-mail:</th>
									<td class="py-2">{{ sellerInformation.email }}</td>
								</tr>
                <tr>
									<th class="py-2">City:</th>
									<td class="py-2">{{ sellerInformation.city }}</td>
								</tr>
                <tr>
									<th class="py-2">PLZ:</th>
									<td class="py-2">{{ sellerInformation.plz }}</td>
								</tr>
                <tr>
									<th class="py-2">Street:</th>
									<td class="py-2">{{ sellerInformation.street }}</td>
								</tr>
                <tr>
									<th class="py-2">Street-Nr.:</th>
									<td class="py-2">{{ sellerInformation.street_nr }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="px-0 border rounded-2 shadow-0">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Similar items</h5>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="" class="nav-link mb-1">Rucksack Backpack Large</a>
									<strong class="text-dark">€ 38,90</strong>
								</div>
							</div>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">Summer New Men's Denim</a>
									<strong class="text-dark">€ 29,50</strong>
								</div>
							</div>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">T-shirts with multiple colors</a>
									<strong class="text-dark">€ 120,00</strong>
								</div>
							</div>
							<div class="d-flex">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">Blazer Suit Dress Jacket for Men</a>
									<strong class="text-dark">€ 339,90</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
