<!--<header class="bg-dark">
	<div class="container-fluid p-3">
		<div class="row">
			<div class="col-md-3 col-12">
				<a href="/">
					<img src="/assets/images/logo.png" class="img-fluid" style="height: 50px;" />
				</a>
			</div>
			<div class="col-md-7 col-10">
				<form class="form-inline my-2 my-lg-0">
					<div class="row">
						<div class="col-11">
							<input class="searchBar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						</div>
						<div class="col-1">
							<button type="submit">
								<img src="/assets/images/search.svg" />
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-2">
				<div id="dialog-content_signUp" style="display: none; max-width: 500px;">
					<div class="p-3">
						<app-signup></app-signup>
					</div>
				</div>
				<a data-fancybox="dialog" data-src="#dialog-content_signUp" href="">
					<img class="float-end" src="/assets/images/user.svg" />
				</a>
			</div>
		</div>
	</div>
</header>-->
<header>
	<div class="p-3 text-center bg-white border-bottom">
		<div class="container">
			<div class="row gy-3">
				<div class="col-lg-5 col-3">
					<a href="" target="_blank" class="float-start">
						<img src="/assets/images/logo_black.png" class="im-fluid" style="height: 50px;" />
					</a>
				</div>
				<div class="col-lg-5 col-6">
					<div class="input-group float-center">
						<div class="form-outline">
							<input type="search" id="form1" class="form-control" />
							<label class="form-label" for="form1">Search</label>
						</div>
						<button type="button" class="btn btn-primary shadow-0">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
				<div class="col-lg-2 col-3">
					<div class="d-flex float-end">
						<a href="" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
							<i class="fas fa-user-alt m-1 me-md-2"></i>
							<p class="d-none d-md-block mb-0">Sign in</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>