.searchBar {
    box-shadow: none;
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
}

.fancybox-content {
	padding: 5px!important;
    margin-bottom: 0!important;
}
.fancybox-infobar,
.fancybox-toolbar,
.fancybox-button.fancybox-button--zoom,
.fancybox-button.fancybox-button--arrow_left,
.fancybox-button.fancybox-button--arrow_right {
	display: none!important;
}