<header>
	<div class="p-3 text-center bg-white border-bottom">
		<div class="container">
			<div class="row gy-3">
				<div class="col-4">
					<a routerLink="/article-list" class="float-start">
						<img src="/assets/images/logo_old.png" style="height: 50px" />
					</a>
				</div>

				<div class="col-lg-4">
					<div class="input-group float-center">
						<div class="form-outline">
							<input type="search" id="form1" class="form-control" />
							<label class="form-label" for="form1">Search</label>
						</div>
						<button type="button" class="btn btn-primary shadow-0">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
				<div class="col-lg-4 col-3 text-end" *ngIf="router.url !== '/login'">
					<a class="btn btn-primary" type="button" id="signInButton" (click)="signIn()" *ngIf="!isLogedIn"> <i class="fas fa-user-alt m-1 me-md-2"></i>Sign in </a>
					<div class="dropdown float-end" *ngIf="isLogedIn">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenue" data-mdb-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user-alt m-1 me-md-2"></i>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenue">
							<li>
								<a class="dropdown-item" href="/userprofile">My Profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="/listings">My Listings</a>
							</li>
							<li>
								<a class="dropdown-item" href="/transactions">My Transactions</a>
							</li>
							<li>
								<a class="dropdown-item" (click)="signOut()">Sign Out</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
