<div class="container">
	<div class="row text-center">
		<div class="col-md-4 pb-1 pb-md-0" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">
			<div class="card">
				<img class="card-img-top" src="{{ imgPath }}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
