body {
	background: #f3f3f4;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn-amazon-green {
	color: #ffffff;
	background-color: #1ab394;
	border-color: #ffffff;
}
.btn-amazon-green:hover,
.btn-amazon-green:focus,
.btn-amazon-green:active,
.btn-amazon-green.active,
.open .dropdown-toggle.btn-amazon-green {
	color: #ffffff;
	background-color: #397d6f;
	border-color: #ffffff;
}
.btn-amazon-green:active,
.btn-amazon-green.active,
.open .dropdown-toggle.btn-amazon-green {
	background-image: none;
}
.btn-amazon-green.disabled,
.btn-amazon-green[disabled],
fieldset[disabled] .btn-amazon-green,
.btn-amazon-green.disabled:hover,
.btn-amazon-green[disabled]:hover,
fieldset[disabled] .btn-amazon-green:hover,
.btn-amazon-green.disabled:focus,
.btn-amazon-green[disabled]:focus,
fieldset[disabled] .btn-amazon-green:focus,
.btn-amazon-green.disabled:active,
.btn-amazon-green[disabled]:active,
fieldset[disabled] .btn-amazon-green:active,
.btn-amazon-green.disabled.active,
.btn-amazon-green[disabled].active,
fieldset[disabled] .btn-amazon-green.active {
	background-color: #1ab394;
	border-color: #ffffff;
}
.btn-amazon-green .badge {
	color: #1ab394;
	background-color: #ffffff;
}

.view-account {
	background: #f3f3f4;
	margin-top: 20px;
	padding: 30px;
}

.view-account .content-panel {
	padding: 30px;
}

.view-account .content-panel .card {
	margin-bottom: 2.2rem;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

.view-account .content-panel .card-header {
	font-weight: 500;
	letter-spacing: 0.05rem;
	font-size: 1.32rem;
	margin-bottom: 0;
	color: #676a6c;
}

.view-account .content-panel .card-body {
	color: #397d6f;
	padding-left: 1.5rem;
	padding-top: 1.5rem;
	padding-right: 1.5em;
}

.view-account .content-panel .card .card-body .btn {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-right: 3%;
}

.view-account .content-panel .card .card-body .form-group {
	width: 100%;
}

.view-account .content-panel .card .card-body .form-group input {
	position: relative;
	font-size: 16px;
	outline: none;
	box-shadow: 2px 3px #40babd;
	opacity: 75%;
	margin-bottom: 1.5em;
}

.form-check-input:checked {
	background-color: #40babd;
	border-color: #397d6f;
}

.view-account a {
	color: #1ab394;
}
.view-account a:hover {
	text-decoration: underline;
}

@media (max-width: 767px) {
	.view-account .content-panel {
		padding: 0;
	}
}

@media (min-width: 992px) {
	.view-account .content-panel {
		min-height: 800px;
		border-left: 1px solid #f3f3f7;
	}
}
