<div class="container">
	<div class="row">
		<div class="col-12">
			
		</div>
	</div>
</div>
Impressum
Informationen gem. §§ 24, 25 MedienG, 14 UGB, 5 ECG, Art. 24 Abs. 2 VO (EU) 2022/2065

Medieninhaber:
willhaben internet service GmbH & Co KG
Landstraßer Hauptstraße 97-101 / Top Nr. B6
1030 Wien

Unternehmensgegenstand: Betrieb eines Onlinedienstes (Internet-Anzeigen-Portal)

Geschäftsführer: willhaben internet service GmbH (vertreten durch Mag. Sylvia Dellantonio; Prokurist: Mag. Reinhard Franz)

Firmenbuchnummer: FN 271792 w

Firmenbuchgericht: Handelsgericht Wien

UID-Nummer: ATU62251468

Komplementärin: willhaben internet service GmbH, Landstraßer Hauptstraße 97-101 / Top Nr. B6, 1030 Wien, FN 271791 v, Handelsgericht Wien Behörde gem. ECG: Magistratisches Bezirksamt Wien des III.Bezirkes. Die willhaben internet service GmbH ist an folgendem Unternehmen unmittelbar beteiligt: car4you GmbH, Wien, FN 188858 h.

Kammer: Wirtschaftskammer Wien, Österreich; Fachgruppe UBIT; Fachgruppe der gewerblichen Finanzdienstleister

Aufsichtsbehörde: Magistratisches Bezirksamt Wien des III. Bezirkes

Anwendbare Vorschriften: Österr. Gewerbeordnung https://www.ris.bka.gv.at/

Sofern die willhaben internet service GmbH & Co KG im Zuge von "willhaben Wohnkredite" in Ausübung des Gewerbes der Gewerblichen Vermögensberatung, eingeschränkt auf Personal- und Hypothekarkreditvermittlung tätig wird, wofür willhaben die einschlägige Gewerbeberechtigung innehat, sind die Standesregeln für die Kreditvermittlung maßgeblich. https://www.ris.bka.gv.at/

Betriebsgegenstand: Betrieb eines Onlinedienstes; im Zuge von "willhaben Wohnkredite" - gewerbliche Vermögensberatung eingeschränkt auf Hypothekarkreditvermittlung

Kontakt: Klick hier bzw. per E-Mail unter info@willhaben.at

Informationen für gewerbliche Kunden zur Mediation: Im Falle einer freiwilligen außergerichtlichen Beilegung von Streitigkeiten mit gewerblichen Nutzern ist willhaben bereit mit folgenden Mediationsstellen zusammenzuarbeiten:
- RA Mag. Irmgard Neumann, Johann-Michael-Steffn-Weg 6b, 8010 Graz-Geidorf
- Mag. Anna Unterholzer, Mediationsinstitut - fördert konstruktive Konfliktlösungen, Elisabethstrasse 3,
8010 Graz

Alternative Streitbeilegung für Verbraucher: Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: https://ec.europa.eu/odr.

Kommanditgesellschafter: Die willhaben internet service GmbH & Co KG steht zu

-       50% im Eigentum der Marketplaces Austria Holding AS, Oslo, Betriebsgegenstand: Medienwesen; die Marketplaces Austria Holding AS steht zu 100% im Eigentum der Adevinta Finance AS, Oslo; die Adevinta Finance AS steht zu 100% im Eigentum der Adevinta ASA; die Adevinta ASA, Oslo, ist eine börsenotierte Aktiengesellschaft nach norwegischem Recht;

-       40% im Eigentum der Kleine Zeitung GmbH & Co KG; weitere Informationen zu Inhaberschaften des Medieninhabers bzw. seines Eigentümers gemäß § 25 Absatz 2 und 3 Mediengesetz finden Sie unter styria.com/de/offenlegung

-       10% im Eigentum der Styria Medienhaus Wien GmbH; weitere Informationen zu Inhaberschaften des Medieninhabers bzw. seines Eigentümers gemäß § 25 Absatz 2 und 3 Mediengesetz finden Sie unter styria.com/de/offenlegung.

Grundlegende Richtung: Soweit die Inhalte von willhaben selbst stammen, dienen diese einerseits der allgemeinen Information über die Bereiche Marktplatz,  Jobs, Immobilien, Auto & Motor und Digital Advertising sowie andererseits der Förderung des Absatzes der von willhaben angebotenen Dienstleistungen in den angeführten Bereichen.

Information gem. Art. 24 Abs. 2 VO (EU) 2022/2065: willhaben ist gemäß Art. 24 Verordnung (EU) 2022/2065 (Gesetz über digitale Dienste) verpflichtet, Informationen über die durchschnittliche monatliche Zahl ihrer aktiven Nutzer in der Union, berechnet als Durchschnitt der vergangenen sechs Monate zu veröffentlichen. Die durchschnittliche monatliche Zahl der aktiven Nutzer beträgt 5 160 252.

Zu beachten ist, dass diese Zahl auf Berechnungen externer Anbieter von Tracking-Tools basiert. Es kann nicht ausgeschlossen werden, dass die angewandte Methodik eine Doppelzählung aktiver Nutzer beinhaltet und in Zukunft durch eine andere Methodik ersetzt wird.