<body>
	<div class="container mt-3">
		<div class="view-account">
			<section class="module">
				<div class="module-inner">
					<div class="side-bar">
						<div class="user-info">
							<!--ToDo load picture from database so we can update it on the fly-->
							<img class="img-profile img-circle img-responsive center-block" src="/../../../assets/images/Profilepic1.webp" alt="">
							<ul class="meta list list-unstyled">
								<li class="name">Barack Obama
									<label class="label label-info">Web Developer</label>
								</li>
								<li class="email"><a href="#">Barack.O@Bama.com</a></li>
								<li class="activity">Last logged in: Today at 2:18pm</li>
							</ul>
						</div>
						<nav class="side-menu">
							<ul class="nav">
								<li><a routerLink="/userprofile"><span class="fa fa-user"></span> Profile</a></li>
								<li class="active"><a><span class="fa fa-credit-card"></span> Transactions</a></li>
								<li><a routerLink="/payment"><span class="fa fa-envelope"></span> Payment information</a></li>
								<li><a routerLink="/messages"><span class="fa fa-envelope"></span> Messages</a></li>
							</ul>
						</nav>
					</div>
					<div class="content-panel">
						
						<h2 class="title">Balance</h2>
						<form class="form-horizontal">
							<fieldset class="fieldset">
								<h3 class="fieldset-title">10.000.000€</h3>
								
							</fieldset>
						</form>
						<h2 class="title">Transactions</h2>
						<form class="form-horizontal">
							<div class="card">
								<div class="card-header">
									header
								</div>
								<div class="card-body">
									body
								</div>
							</div>
						</form>
					</div>
					<div class="content-panel">
					</div>
				</div>
			</section>
		</div>
	</div>
</body>