<body>
	<div class="container mt-3">
		<div class="view-account">
			<section class="module">
				<div class="module-inner">
					<div class="side-bar">
						<div class="user-info">
							<!--ToDo load picture from database so we can update it on the fly-->
							<img class="rounded img-profile img-circle img-responsive center-block" src="/assets/images/default-profile-picture.jpg" alt="">
							<ul class="meta list list-unstyled">
								<li class="name activity" >{{ model.firstname }} {{ model.lastname }}
								</li>
								<li class="email activity	">{{ model.email }}</li>
							</ul>
						</div>
						<nav class="side-menu">
							<ul class="nav">
								<li><a routerLink="/userprofile"><span class="fa fa-user"></span> Personal Profile</a></li>
								<li><a routerLink="/listings"><span class="fa fa-list"></span> My Listings</a></li>
								<li class="active"><a><span class="fa fa-credit-card"></span> Transactions</a></li>
								<li><a routerLink="/payment"><span class="fa fa-envelope"></span> Payment information</a></li>
							</ul>
						</nav>
					</div>
					<div class="content-panel">
						
						<h2 class="title">Balance</h2>
						<form class="form-horizontal">
							<fieldset class="fieldset">
								<h3 class="fieldset-title">10.000.000€</h3>
								
							</fieldset>
						</form>
						<form class="form-horizontal">
							<div class="card">
								<div class="card-header">
									Invoice History
								</div>
								<div class="card-body">
									body
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>