<body>
	<div class="container mt-3">
		<div class="view-account">
			<section class="module">
				<div class="module-inner">
					<div class="side-bar">
						<div class="user-info">
							<!--ToDo load picture from database so we can update it on the fly-->
							<img class="rounded img-profile img-circle img-responsive center-block" src="/assets/images/default-profile-picture.jpg" alt="">
							<ul class="meta list list-unstyled">
								<li class="name activity" >{{ model.firstname }} {{ model.lastname }}
								</li>
								<li class="email activity	">{{ model.email }}</li>
							</ul>
						</div>
						<nav class="side-menu">
							<ul class="nav">
								<li><a routerLink="/userprofile"><span class="fa fa-user"></span> Personal Profile</a></li>
								<li class="active"><a routerLink="/listings"><span class="fa fa-list"></span> My Listings</a></li>
								<li><a routerLink="/transactions"><span class="fa fa-credit-card"></span> Transactions</a></li>
								<li><a routerLink="/payment"><span class="fa fa-envelope"></span> Payment information</a></li>
							</ul>
						</nav>
					</div>
					<div class="content-panel">
						<form class="form-horizontal">
							<div class="card">
								<div class="card-header">Rucksack Backpack Jeans</div>
								<div class="card-body">
									<div class="row justify-content-center mb-3">
										<div class="col-md-12">
											<div class="card shadow-0">
												<div class="card-body">
													<div class="row g-0">
														<div class="col-xl-2 col-md-3 d-flex justify-content-center">
															<div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
																<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" class="w-100" />
																<a href="/">
																	<div class="hover-overlay">
																		<div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
																	</div>
																</a>
															</div>
														</div>
														<div class="col-xl-8 col-md-7 col-sm-9">
															<p class="text mb-4 mb-md-0">
																Short description about the product goes here, for ex its features. Lorem ipsum dolor sit amet with hapti you enter into any new area of science, you almost lorem ipsum is great text
																consectetur adipisicing
															</p>
														</div>
														<div class="col-xl-2 col-md-2 col-sm-3">
															<div class="text-end">
																<h4 class="text-success">+34,50 €</h4>
																<h4 class="text-danger">-34,50 €</h4>
																<h4 class="text-dark">34,50 €</h4>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>