<div class="container my-3">
	<div class="row">
		<div class="offset-2 col-8">
			<h1>Datenschutzerklärung</h1>
			<p>
				<b>&sect; 1&nbsp; Information &uuml;ber die Erhebung personenbezogener Daten</b><br />
				(1) Im Folgenden informieren wir &uuml;ber die Erhebung personenbezogener Daten bei Nutzung unserer Website. Als personenbezogene Daten gelten alle Informationen, anhand
				derer eine Person eindeutig identifizierbar ist. Es handelt sich somit um Daten, die zu einer Person zur&uuml;ckverfolgt werden k&ouml;nnen. Personenbezogene Daten sind alle
				Daten, die auf Sie pers&ouml;nlich beziehbar sind, z.&thinsp;B. Vorname und Name, Adresse, Telefonnummer, E-Mail-Adressen, Nutzerverhalten, etc.<br /><br />
				Personenbezogene Daten erheben wir im Rahmen von Datenvermeidung und Datensparsamkeit nur in dem Ausma&szlig; und so lange, wie es zur Nutzung unserer Webseite notwendig ist,
				beziehungsweise vom Gesetzgeber vorgeschrieben wird. Wir nehmen den Schutz Ihrer pers&ouml;nlichen Daten ernst und halten uns bei Erhebung und Verarbeitung personenbezogener
				Daten streng an die entsprechenden gesetzlichen Vorschriften und an diese Datenschutzerkl&auml;rung. F&auml;llt der Zweck der Datenerhebung weg oder ist das Ende der
				gesetzlichen Speicherfrist erreicht, werden die erhobenen Daten gesperrt oder gel&ouml;scht. Regelm&auml;&szlig;ig kann unsere Webseite ohne die Weitergabe pers&ouml;nlicher
				Daten genutzt werden. Wenn wir personenbezogene Daten erheben &ndash; etwa Ihren Namen, Ihre Anschrift oder Ihre E-Mail-Adresse &ndash; erfolgt diese Datenerhebung
				freiwillig. Ohne eine ausdr&uuml;cklich erteilte Zustimmung von Ihrer Seite werden diese Daten Dritten nicht zur Kenntnis gebracht. Beachten Sie bitte, dass Daten im Internet
				allgemein nicht immer sicher &uuml;bertragen werden. Besonders im E-Mail-Verkehr kann der Schutz beim Datenaustausch nicht garantiert werden.&nbsp;Personenbezogene Daten
				speichern wir gem&auml;&szlig; den Grunds&auml;tzen der Datenvermeidung und Datensparsamkeit nur so lange, wie es erforderlich ist oder vom Gesetzgeber her vorgeschrieben
				wird (gesetzliche Speicherfrist). Entf&auml;llt der Zweck der erhobenen Informationen oder endet die Speicherfrist, sperren oder l&ouml;schen wir die Daten.<br /><br />
				(2) Verantwortlicher gem. Art. 4 Abs.7 EU-Datenschutz-Grundverordnung (DS-GVO) ist Heltschl Medizintechnik, A-4713 Gallspach, Hoheneckstra&szlig;e 9&nbsp;(siehe unser
				Impressum).&nbsp;<br />
				(3) Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder &uuml;ber ein Kontaktformular werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre
				Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten l&ouml;schen wir, nachdem die Speicherung nicht mehr
				erforderlich ist, oder schr&auml;nken die Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten bestehen.<br />
				(4) Falls wir f&uuml;r einzelne Funktionen unseres Angebots auf beauftragte Dienstleister zur&uuml;ckgreifen oder Ihre Daten f&uuml;r werbliche Zwecke nutzen m&ouml;chten,
				werden wir Sie untenstehend im Detail &uuml;ber die jeweiligen Vorg&auml;nge informieren. Dabei nennen wir auch die festgelegten Kriterien der Speicherdauer.<br /><br />
				<b>&sect; 2&nbsp; Ihre Rechte</b><br />
				(1) Sie haben gegen&uuml;ber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
			</p>
			<ol class="ps-4">
				<li>Recht auf Auskunft&nbsp; &nbsp;(Art. 15 DSGVO),</li>
				<li>Recht auf Berichtigung&nbsp; &nbsp;(Art. 16 DSGVO)</li>
				<li>Recht auf L&ouml;schung&nbsp; &nbsp;(Art. 17 DSGVO),</li>
				<li>Recht auf Einschr&auml;nkung der Verarbeitung&nbsp; &nbsp;(Art. 18 DSGVO),</li>
				<li>Recht auf Widerspruch gegen die Verarbeitung&nbsp; &nbsp;(Art. 21 DSGVO),</li>
				<li>Recht auf Daten&uuml;bertragbarkeit&nbsp; &nbsp;(Art. 20 DSGVO).</li>
			</ol>
			<p>
				(2) Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbeh&ouml;rde &uuml;ber die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren (Art. 77
				DSGVO).<br /><br />
				<b>&sect; 3&nbsp; Erhebung personenbezogener Daten bei Besuch unserer Website</b><br />
				(1) Bei der blo&szlig;en informatorischen Nutzung unserer Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen &uuml;bermitteln, erheben wir nur
				die personenbezogenen Daten, die Ihr Browser an unseren Server &uuml;bermittelt. Wenn Sie unsere Website betrachten m&ouml;chten, erheben wir die folgenden Daten, die
				f&uuml;r uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilit&auml;t und Sicherheit zu gew&auml;hrleisten (Rechtsgrundlage ist Art.6 Abs.1 S.1
				lit.f DS-GVO):
			</p>
			<ol class="ps-4">
				<li>IP-Adresse</li>
				<li>Datum und Uhrzeit der Anfrage</li>
				<li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
				<li>Inhalt der Anforderung (konkrete Seite)</li>
				<li>Zugriffsstatus/HTTP-Statuscode</li>
				<li>jeweils &uuml;bertragene Datenmenge</li>
				<li>Website, von der die Anforderung kommt</li>
				<li>Browser</li>
				<li>Betriebssystem und dessen Oberfl&auml;che</li>
				<li>Sprache und Version der Browsersoftware.</li>
			</ol>
			<p>
				(2) Zus&auml;tzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine
				Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet, gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns),
				bestimmte Informationen zuflie&szlig;en. Cookies k&ouml;nnen keine Programme ausf&uuml;hren oder Viren auf Ihren Computer &uuml;bertragen. Sie dienen dazu, das
				Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.<br /><br />
				<b>(3) Einsatz von Cookies:</b><br />
				a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erl&auml;utert werden:
			</p>
			<ol class="ps-4">
				<li>Transiente Cookies (dazu b)</li>
				<li>Persistente Cookies (dazu c).</li>
			</ol>
			<p>
				b) Transiente Cookies werden automatisiert gel&ouml;scht, wenn Sie den Browser schlie&szlig;en. Dazu z&auml;hlen insbesondere die Session-Cookies. Diese speichern eine
				sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie
				auf unsere Website zur&uuml;ckkehren. Die Session-Cookies werden gel&ouml;scht, wenn Sie sich ausloggen oder den Browser schlie&szlig;en.<br />
				c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gel&ouml;scht, die sich je nach Cookie unterscheiden kann. Sie k&ouml;nnen die Cookies in den
				Sicherheitseinstellungen Ihres Browsers jederzeit l&ouml;schen.<br />
				d) Sie k&ouml;nnen Ihre Browser-Einstellung entsprechend Ihren W&uuml;nschen konfigurieren und z.&thinsp;B. die Annahme von Third-Party-Cookies oder allen Cookies ablehnen.
				Wir weisen Sie darauf hin, dass Sie eventuell nicht alle Funktionen dieser Website nutzen k&ouml;nnen.<br />
				e) Wir setzen Cookies ein, um Sie f&uuml;r Folgebesuche identifizieren zu k&ouml;nnen, falls Sie &uuml;ber einen Account bei uns verf&uuml;gen. Andernfalls m&uuml;ssten Sie
				sich f&uuml;r jeden Besuch erneut einloggen.
			</p>
		</div>
	</div>
</div>
