<section class="py-5">
	<div class="container">
		<div class="row gx-5">
			<aside class="col-lg-6">
				<div class="d-flex justify-content-center mb-3">
					<a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
						<img width="410" height="410" class="rounded-2" src="/assets/images/DefaultImg.jpg" />
					</a>
				</div>
			</aside>
			<main class="col-lg-6">
				<div class="ps-lg-3">
					<div class="row">
						<dt class="col-2">Name:</dt>
						<dd class="col-6">
							<input type="text" class="form-control input" formControlName="username" placeholder="Pazi Item Price€">
						</dd>
						<dt class="col-2"></dt>
					</div>
					<div class="row">
						<dt class="col-2">Price:</dt>
						<dd class="col-6">
							<input type="text" class="form-control input" formControlName="username" placeholder="Pazi Item Price€">
						</dd>
						<dt class="col-2"></dt>
					</div>
					<div class="row">
						<dt class="col-2">IMG-URL:</dt>
						<dd class="col-6">
							<input type="text" class="form-control input" formControlName="username" placeholder="Pazi Item Price€">
						</dd>
						<dt class="col-2"></dt>
					</div>
					<div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0 mt-1 mb-3">
						<div class="d-flex justify-content-center">
						  <input class="btn btn-group btn-primary rounded" type="button" value="Add image">
						</div>
					  </div>
					  
					<div class="row">
						<dt class="col-2">Category:</dt>
						<dd class="col-6">
							<select name="category" id="category" class="form-control input">
								<option value="technology">Technology</option>
								<option value="laptop">Laptop</option>
							  </select>
						</dd>
						<dt class="col-3"></dt>
					</div>
					<hr />
				</div>
			</main>
		</div>
	</div>
</section>
<section class="bg-light border-top py-4">
	<div class="container">
		<div class="row gx-4">
			<div class="col-lg-8 mb-4">
				<div class="border rounded-2 px-3 py-2 bg-white">
					<!-- Pills navs -->
					<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
						<li class="nav-item d-flex" role="presentation">
							<p class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="" role="tab">Seller profile</p>
						</li>
					</ul>

					<div class="tab-content" id="ex1-content">
						<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="ex1-tab-1">
							<textarea id="itemDescription" name="itemDescription" class="form-control input" placeholder="Add the item description here" required></textarea>
						</div>
					</div>
					
				</div>
				<div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0 mt-4 ">
					<input class="btn btn-group btn-primary rounded " type="button" value="Add item">
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="px-0 border rounded-2 shadow-0">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Similar items</h5>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="" class="nav-link mb-1">Rucksack Backpack Large</a>
									<strong class="text-dark">€ 38,90</strong>
								</div>
							</div>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">Summer New Men's Denim</a>
									<strong class="text-dark">€ 29,50</strong>
								</div>
							</div>
							<div class="d-flex mb-3">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">T-shirts with multiple colors</a>
									<strong class="text-dark">€ 120,00</strong>
								</div>
							</div>
							<div class="d-flex">
								<a href="#" class="me-3">
									<img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
								</a>
								<div class="info">
									<a href="#" class="nav-link mb-1">Blazer Suit Dress Jacket for Men</a>
									<strong class="text-dark">€ 339,90</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>